html {
    font-family: 'Jua', sans-serif;
 }

.jumbotron {
    position: relative;
    z-index: 1;
    color: black;
    font-weight: bolder;
}

.jumbotron:before {
    content: "";
    position: absolute;
    z-index: -1;
    /* width: 100%;
    height: 100%; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("http://www.southernexposure.com/images/large/lettuce-romaine-jericho_LRG.jpg");
    opacity: .6;
}
 h3 {
     font-weight: boldest;
 }
