
html {
    position: relative;
    min-height: 100%;
    font-family: 'Jua', sans-serif;
  }

  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    font-family: 'Jua', sans-serif;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: rgb(235,104,100);
  }

  .footer a {
    color: darkred;
  }

  .statImg img {
      margin: auto;
  }

  .card-header {
      color: whitesmoke;
  }

  h3, h1, .navbar, .btn, .modal-title, .card-header, .card-title  {
    font-family: 'Jua', sans-serif;
  }

  .jumbotron {
      color: whitesmoke;
      text-shadow: -1.25px 0 whitesmoke, 0 1.25px whitesmoke, 1.25px 0 whitesmoke, 0 -1.25px whitesmoke;
  }

  .card {
      margin-bottom: 15px;
  }